.circular-gallery {
  width: 100%;
  height: 100%;
  min-height: 500px;
  position: relative;
  overflow: hidden;
}

.circular-gallery canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
